
//==============Responsive================
$pc-media: 1024px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
//===================General======================
html, body { 
  height: 100%; margin: 0; padding: 0; 
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

#map { 
  margin: 0px;
  width: 100%;
  height: 90%; 
}
